
/*body initialization */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #007bff;
    color: white;
    padding: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    margin-left: 20px;
}

.navbar {
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: .3s;
}

.nav-link:hover {
    font-size: 1.2rem;
    text-decoration: underline;
}

main {
    max-width: 11000px;
    margin: auto;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 4rem;
}

.card {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
    max-width: 90%;
}

.card h2 {
    margin: 0 0 1rem 0;
}

.card p {
    font-size: 2rem;
    margin: 0;
}