
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #007bff;
    color: white;
    padding: .2rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 80px auto;
}

.action-container a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.3s;
}

.action-container a:hover {
    text-decoration: underline;
}

.action-container button {
    background-color: #007bff;
    color: white;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
}
