
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #007bff;
    color: white;
    padding: .2rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}